@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

div {
    font-size: 5rem;
}

.p {
    font-size: 2rem;
}

.div {
    font-size: 3rem;
    font-weight: 900;
}

.serif {
    font-family: serif;
}

.sans-serif {
    font-family: sans-serif;
}

.monospace {
    font-family: monospace;
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}

.custom {
    border: 1px black solid;
    font-family: "Nanum Pen Script", cursive;
    line-height: 1.5;
    text-align: center;
    text-decoration: line-through;
}

.text-overflow {
    width: 300px;
    height: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}