.app {
    width: 50%;
    height: 300px;

    min-width: 500px;
    max-width: 800px;

    /* 테두리 지정 속성 */
    /* border-width: 10px;
    border-color: black;
    border-style: solid; */
    border: 1px black solid;

    /* 패딩(padding) */
    /* padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 10px; */
    
    /* 시계방향으로 상, 우, 하, 좌 */
    /* padding: 10px 30px 10px 10px; */
    
    /* 위, 양옆, 아래 */
    /* padding: 10px 10px 30px; */

    /* 위아래, 양옆 */
    /* padding: 10px 20px; */

    /* 모든방향 */
    padding: 15px;

    /* 마진(margin) : 패딩(padding) 설정과 똑같음*/
    margin-top: 10px;
}