.main-background {
    width: 100%;
    height: 500px;
    background-image: url(./apple.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    background-attachment: scroll;
    padding: 1px; /* margin collapse 현상 방지하기 위해서 (싫으면 테두리 붙지 않게) */
}

.main-title {
    color: black;
    font-size: 80px;
    text-align: center;
    margin-top: 20px; /* margin collapse 현상 방지하기 위해 부모 태그에 padding 속성 줌. -> 싫으면 테두리 붙지 않게 하면 됨 */
}

.navbar a {
    font-size: 20px;
    text-decoration: none; /* a태그의 밑줄제거 가능 */
}
