.main-background {
    width: 100%;
    height: 500px;
    background-image: url(./shoes-1.jpg);
    /* background-size: 100%; */
    background-size: cover; /* 너가 알아서 배경을 빈 박스에 맞게 채워라 */
    /* background-size: contain; 여백이 남아도 상관없으니 절대 배경이 짤리면 안돼! */
    background-repeat: no-repeat;
    background-position: center; /* 배경 위치 조정가능 */
    background-attachment: scroll; /*스크롤 시 배경 위치 조정가능 */
    /* filter: brightness(170%); 박스에 보정입히기 + 안에 글씨 있으면 글씨에도 필터 입혀짐 */
    padding: 1px; /* margin collapse 현상 방지하기 위해서 (싫으면 테두리 붙지 않게) */
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 200px; /* margin collapse 현상 방지하기 위해 부모 태그에 padding 속성 줌. -> 싫으면 테두리 붙지 않게 하면 됨 */
}
