.container {
    width: 800px;
}

.header {
    width: 100%; /* 부모 태그 width의 100% */
    height: 50px;
    background: aquamarine;
}

/* display: block; -> 가로의 한 행을 전부 차지함 */
/* display: inline-block; -> 가로의 내 크기만큼만 차지함 */

.left-menu {
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    display: inline-block;
    vertical-align: top;
}

.right-menu {
    width: 80%;
    height: 400px;
    background: coral;
    display: inline-block;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: gray;
}