/* 스타일이 겹칠 경우 우선순위에 따라 정해짐! */
/* style태그 : 1000점 > id : 100점 > 클래스 : 10점 > 태그 : 1점 */

/* 일부 스타일은 자동으로 부모 -> 자식 inherit 됩니다! */

.profile {
    width: 100px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

.h3-title {
    font-size: 16px; 
    font-family:'Courier New', Courier, monospace; 
    text-align: center;
}

.content {
    text-align: center;
}

.box {
    width: 100px; /* 폭 */
    height: 100px; /* 높이 */
    background-color: cadetblue;
    margin: 30px; /* 여백 - 상,하,좌,우 */
    padding: 40px; /* 안쪽여백 - 상,하,좌,우 */
    border: 10px solid black; /* 테두리 - 두께,종류,색깔 */
    border-radius: 15px; /* 테두리 둥글게 */
    
    /* 박스 가운데 배치 */
    /* display: block (가로행을 전부 차지해주셈) 속성을 div는 이미 가지고 있음 */
    margin-left: auto; margin-right: auto; 

    /* 글자 가운데 */
    text-align: center;

    /* inherit 지원하는 스타일은 정해져 있음 */
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 5px 5px purple;
}