ul, ol {
    list-style: none;
}

/* 컨테이너 */
.matrix-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-left: 3px solid var(--dark-gray);
    border-bottom: 3px solid var(--dark-gray);
    margin: 1rem 4rem 4rem;
}

.matrix-item {
    width: 45%;
    height: 30rem;
    border: 0.5px solid var(--dark-gray);
    border-radius: 5px 5px 0 0;
    margin: 2rem 0;

    display: flex;
    flex-direction: column;
}

/* 아이템 헤더 */
.matrix-item-header {
    text-align: center;
    background-color: var(--light-gray);
    padding: 1rem 0;
}

.matrix-title {
    font-size: 1.6rem;
    font-weight: 700;
}

.matrix-input {
    width: 90%;
    font-size: 1.6rem;
    margin-top: 1rem;
    padding-left: 0.5rem;
    line-height: 1.8;
}

/* 아이템 리스트 */
.matrix-item-list {    
    flex: 1; /* 헤더를 제외한 모든 높이 차지하기 */
    overflow-y: auto; /* 내부 컨텐츠가 영역을 벗어났을 때 처리 방법을 지정하는 속성 */
}

.list-item {
    width: 90%;
    margin: 0.5rem auto;
    border: 3px solid var(--light-gray);
    border-radius: 5px;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}