/* 인접 형제 */
h3 + h4 {
    color: green;
}

/* 형제 */
h3 ~ h5 {
    color: blue;
}

/* 가상 선택자 */

/* :hover */
button:hover {
    background-color: navy;
}

/* :active */
.activated:active {
    background-color: gray;
}

/* :focus */
input {
    width: 500px;
}

input:focus {
    background-color: purple;
}

/* :link, :visited */
a {
    color: black;
}

a:link {
    color: pink;
}

a:visited {
    color: skyblue;
}