* {
    padding: 0;
    margin: 0;
}

div {
    background-color: red;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.target-container {
    position: relative;
}

.target {
    position: sticky;
    top: 50px;
    left: 400px;
}

.container {
    position: relative;
    background: blue;
}

.item {
    position: absolute;
    top: 500px;
    left: 500px;
}