#content {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}

.box {
    flex-grow: 1;
    border: 3px solid rgba(0, 0, 0, .2);
}

.box1 {
    flex-grow: 2;
    /* width: 50px; */
    border: 3px solid rgba(0, 0, 0, .2);
}