#content {
    width: 100vw;
    display: flex;
}

#content div {
    border: 3px solid rgba(0, 0, 0, .2);
}

.box {
    width: 500px;
    flex-shrink: 1;
}

.box1 {
    width: 500px;
    flex-shrink: 5;
}