div {
    border: 1px solid black;
}

.container {
    display: flex;
    width: 300px;
    height: 300px;
    align-items: stretch;
}

.item {
    width: 50px;
    height: 50px;
}

.first {
    align-self: center;
}

.second {
    align-self: flex-end;
}

.third {
    align-self: center;
}